<aside class="sidebar" aria-label="main" role="navigation">
  <ul>
    <li>
      <div class="sidebar-item"><a href="/">Home</a></div>
    </li>
    <li>
      <div class="sidebar-item"><a href="/items">Items</a></div>
    </li>
    <li>
      <div class="sidebar-item"><a href="/categories">Categories</a></div>
    </li>
  </ul>
</aside>