<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/sidebar') %>

  <main>
    <h1><%= locals.title %></h1>
    
    <% if (!locals.category) { %>
      <p>The category you're looking for does not exist.</p>
    <% } else { %>
      <a href="/item/create">Create a new item for this category</a>
      <%- include('partials/item_list') %>
    <% } %>
  </main>
</body>

</html>