<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <h1>
    <%= locals.message %>
  </h1>
  <% if (locals.error) { %>
    <h2>
      <%= locals.error.status %>
    </h2>
    <pre><%= locals.error.stack %></pre>
    <% } %>
</body>

</html>