<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/sidebar') %>
  
  <main>
    <h1 class="mb-8"><%= locals.title %></h1>
    <a class="mb-16 button" href="/item/create">Create new item</a>
    
    <% if (locals.items && locals.items.length) { %>
      <%- include('partials/item_list') %>
    <% } else { %>
      <p>There are no items.</p>
    <% } %>
  </main>
</body>

</html>
