:root {
  --bg-color: #18122B;
  --primary-color: #393053;
  --secondary-color: #443C68;
  --tertiary-color: #635985;
  --text-color: white;
  --text-color-secondary: #7e739e;
}

body,
textarea {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/**
 * Global styles
 */

a {
  text-decoration: none;
  color: var(--text-color);
}

label {
  font-size: 1.1rem;
}

input,
textarea,
select {
  padding: 16px;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 1.2rem;
  border: none;
  border-radius: 4px;
}

textarea {
  resize: none;
}

/**
 * Sibebar styles
 */

.sidebar {
  background-color: var(--primary-color);
}

.sidebar>ul {
  display: flex;
  flex-direction: column;
}

.sidebar-item a {
  display: block;
  padding: 16px 24px;
  text-decoration: none;
  position: relative;
  font-weight: bold;
}

.sidebar-item a:hover {
  background-color: var(--tertiary-color);
}

.sub-sidebar {
  display: none;
}

/**
 * <main> styles
 */

main {
  padding: 16px 24px;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 16px;
}

h2 {
  font-size: 1.6rem;
  margin-block: 16px 8px;
}

h3 {
  font-size: 1.4rem;
  margin-block: 16px 8px;
}

h4 {
  font-size: 1.2rem;
  margin-block: 16px 8px;
}

p {
  margin-block: 8px;
}

.button {
  display: inline-block;
}

.button,
button {
  font-size: 1rem;
  padding: 12px 24px;
  color: var(--text-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover,
button:hover {
  background-color: var(--tertiary-color);
}

/**
 * Item styles
 */

.item-category,
.item-category a {
  color: var(--text-color-secondary);
}

.item-category a {
  text-decoration: underline;
  cursor: pointer;
}

.item-price {
  font-size: 1.6rem;
}

/**
 * List styles
 */

.item-list {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.item-list .item-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  background-color: var(--primary-color);
  border-radius: 8px;
}

.item-list .item-name {
  color: var(--text-color);
  font-size: 1.4rem;
  text-decoration: none;
}

.item-list .item-price {
  font-size: 1.4rem;
}

.item-list .item-units {
  text-align: end;
}

.category-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.category-list .category-name {
  font-size: 1.4rem;
  text-decoration: underline;
}

/**
 * Form styles
 */

form .form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/**
 * Desktop styles
 */

@media only screen and (min-width: 600px) {
  /**
   * Global styles
   */

  main {
    max-width: 1200px;
    margin: 0 auto;
  }

  /**
   * Sidebar styles
   */

  .sidebar>ul {
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: row;
  }
}

/**
 * Utility classes
 */

.buttons-flex-wrap {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-block: 8px 16px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.gap-16 {
  gap: 16px;
}

.my-4 {
  margin-block: 4px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.underline {
  text-decoration: underline;
}