:root {
  --bg-color: #18122B;
  --primary-color: #393053;
  --secondary-color: #443C68;
  --tertiary-color: #635985;
  --text-color: white;
}

body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/**
 * Sibebar styles
 */

.sidebar {
  background-color: var(--primary-color);
}

.sidebar-item a {
  display: block;
  padding: 16px 24px;
  color: var(--text-color);
  text-decoration: none;
  position: relative;
  font-weight: bold;
}

.sidebar-item a:hover {
  background-color: var(--tertiary-color);
}

.sub-sidebar {
  display: none;
}

/**
 * <main> styles
 */

main {
  padding: 16px 24px;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 16px;
}

h2 {
  font-size: 1.6rem;
  margin-block: 16px 8px;
}

p {
  margin-block: 8px;
}