:root {
  --bg-color: #18122B;
  --primary-color: #393053;
  --secondary-color: #443C68;
  --tertiary-color: #635985;
  --text-color: white;
  --text-color-secondary: #7e739e;
}

body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--text-color);
}

/**
 * Sibebar styles
 */

.sidebar {
  background-color: var(--primary-color);
}

.sidebar-item a {
  display: block;
  padding: 16px 24px;
  text-decoration: none;
  position: relative;
  font-weight: bold;
}

.sidebar-item a:hover {
  background-color: var(--tertiary-color);
}

.sub-sidebar {
  display: none;
}

/**
 * <main> styles
 */

main {
  padding: 16px 24px;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 16px;
}

h2 {
  font-size: 1.6rem;
  margin-block: 16px 8px;
}

p {
  margin-block: 8px;
}

button {
  padding: 12px 24px;
  color: var(--text-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/**
 * List styles
 */

.item-list {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.item-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  background-color: var(--primary-color);
  border-radius: 8px;
}

.item-name {
  color: var(--text-color);
  font-size: 1.4rem;
  text-decoration: none;
}

.item-category,
.item-category a {
  color: var(--text-color-secondary);
}

.item-category a {
  text-decoration: underline;
  cursor: pointer;
}

.item-price {
  font-size: 1.4rem;
}

.item-units {
  text-align: end;
}

/**
 * Utility classes
 */

.my-4 {
  margin-block: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}